:root {
    --default-max-width: 960px;
    --col-darkest: #333;
    --col-dark: #4B4B4B;
    --col-light: #bbbbbb;
    --col-lightest: #efefef;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2.5em;
}

.textlarge {
    max-height: 200px;
}
h5 {
    font-size: 300px;
    color: rgb(233, 233, 233);
    display: grid;
    position: relative;
    margin: 0;
}



/*---------------------------
    Layout
----------------------------*/
.container {
    max-width: var(--default-max-width);
    margin: 0 auto;
    box-sizing: border-box;
}

/*---------------------------
    Buttons
----------------------------*/
.btn {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--col-dark);
    background-color: var(--col-light);
    color: var(--col-darkest);
    padding: 10px 20px;
}

.btn--clear {
    background-color: transparent;
}

.btn--light {
    color: white;
}

.btn--light-border {
    color: white;
    border: 1px solid white;
}
.btn--no-border {
    color: white;
}
.btn--no-border-black {
    border: none;
}

/*---------------------------
    Nav
----------------------------*/
nav {
    background-color: white;
}

.nav-container {
    max-width: var(--default-max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.nav_list {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.nav_list_item {
    display: inline-block;
}

.nav_list_item_link {
    padding: 20px;
    display: block;
    text-decoration: none;
    color: var(--col-darkest);

}
.nav_list_item_link_topleft {
    padding: 20px;
    display: block;
    text-decoration: none;
    color: var(--col-darkest);
    font-family: 'Pacifico', cursive;
}

/*---------------------------
    Site Header
----------------------------*/
.site-header {
    min-height: 550px;
    background-color: #efefef;
    background: linear-gradient(to left, transparent 25%, #efefef 0%);
}

.site-header_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: inherit;
}

.site_header_content_cta {
    background-color: var(--col-dark);
    color: white;
    padding: 45px;
    width: 40%;
}

/*---------------------------
    Vegan destination
----------------------------*/
.vegan-scrollbox {
    display: flex;
    justify-content: flex-end ;
    margin-top: -45px;
    width: auto;
}

.vegan-scrollbox_item {
    background-color: var(--col-light);
    height: 130px;
    width: 210px;
    margin-left: 10px;
}

.vegan-text-cols {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 55px;
}

.vegan-text_left, .vegan-text_right {
    flex: 50%;
}
.vegan-text_left h1 {
    margin-top: 0;
}
.vegan-text_right p {
    line-height: 1.5em;
    margin-top: 0;
}

.textlarge h5 {
    margin-top: -120px;
    margin-left: -200px;
    padding-right: 0.1em;
}

/*------------------
    Journey
--------------------*/

.journey-grid-container {
    display: grid;
    grid-template-columns:
    2fr 2fr 2fr;
    column-gap: 50px;
}

.journey-grid-greybox{
    display: grid;
    background-color: var(--col-lightest);
    color: white;
    padding: 45px;
    min-height: 200px;
    height: 25em;
    width: 25em;
}

.journey-grid-what {
    display: grid;
    align-self: start;
}

.journey-grid-what h1 {
 
    writing-mode: vertical-rl;
    max-height: 500px;
    margin-top: -2em;
    margin-right: -1em;
}

.journey-grid-amazing {
    display: grid;
    max-width: 25em;
    max-height: 20em;
    margin: 2em;
}

.journey-grid-amazing h1 {
    width: 7em;
    font-size: 1.5em;
}


/*----------
    travel
    -------*/
.travel-grid-container{
    display: grid;
    grid-template-columns:
    3fr 3fr 2fr;
    column-gap: 70px;
}
.travel-grid-greybox{
    display: grid;
    background-color: var(--col-lightest);
    color: white;
    padding: 45px;
    min-height: 200px;
    height: 25em;
    width: 17em;
}

.travel-grid-box1 {
    position: relative;
    display: grid;
    background-color: var(--col-lightest);
    color: white;
    padding: 45px;
    min-height: 150px;
    height: 19em;
    width: 10em;
    margin-right: -7em;
    margin-top: -7em;
}
.travel-grid-box2 {
    position: absolute;
    display: grid;
    background-color: var(--col-dark);
    color: white;
    padding: 45px;
    min-height: 150px;
    height: 19em;
    width: 10em;
    margin-top: -2em ;
    margin-left: -2em;

}


.travel{
    margin-top: 150px;
}

/*---------------
    Adventure & Action
    -------------*/

.action-container {
    display: grid;
    grid-template-columns:
    1fr 1fr 1fr;
    margin-top: -60px;
    margin-bottom: -100px;
    margin-right: -100px;
}

.action-largetext-left {
    margin-top: 70px;
    margin-left: -60px;
}

.action-largetext-right {
    margin-right: -100px;
}

.action-text {
    width: 100%;
    align-self: center;
    justify-self: center;
}

.adventure-text {
    font-size: 1.5em;
    width: 100%;
    
}



/*---------------
    Adventure
    -------------*/

.adventure {
    max-width: var(--default-max-width);
 
}

.adventure-grid-container {
    display: grid;
    grid-template-columns:
    3fr 3fr;
    column-gap: 70px;
}
.adventure-grid-box1 {
    position: relative;
    display: grid;
    background-color: var(--col-lightest);
    color: white;
    padding: 45px;
    min-height: 150px;
    height: 19em;
    width: 20em;
}
.adventure-grid-box2 {
    position: absolute;
    display: grid;
    background-color: var(--col-dark);
    color: white;
    padding: 45px;
    min-height: 150px;
    height: 19em;
    width: 20em;
    margin-top: 3em ;
    margin-left: 4em;

}

/*--------------------
    mystery
    ---------------*/

.mystery {
    max-width: var(--default-max-width);
    margin: 0 auto;
    margin-top: 70px;

}

.mystery-grid-container {
    display: grid;
    grid-template-columns:
    3fr 3fr;
    column-gap: 100px;
}
.mystery-grid-box1 {
    position: relative;
    display: grid;
    background-color: var(--col-lightest);
    color: white;
    padding: 45px;
    min-height: 150px;
    height: 20em;
    width: 28em;
    margin-top: -3em ;
    margin-right: -170px;

}
.mystery-grid-box2 {
    position: absolute;
    display: grid;
    background-color: var(--col-dark);
    color: white;
    padding: 45px;
    min-height: 150px;
    height: 20em;
    width: 28em;
    margin-top: -3em ;
    margin-left: -6em;

}

/*--------------------
    Text Travel
    ---------------*/

.text-travel {
    margin-top: -20px;
    margin-bottom: -100px;
}

.text-travel h5 {
    font-size: 210px;
}

/*-------------------
    Video 
    -----------------*/


.video {
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr;*/
}



.video-video {
    display: inline;
    margin-right: -170px;
}

.video-video-video {
    margin-right: -170px;
    position: relative;
    z-index: 2;
}

.video-radio{
    display: flex;
    align-content: start;
    justify-content: start;
    

}
.video-radio-line {
    width: 400px ;
    align-items: center;
    justify-content: center;
    display: block;
    text-align: right;
    
}

.video-radio-line label {
    display: block;
}

.video-radio-line span {
    background-color: white;
    margin: 0 15px;
}

.video-radio-line:before {
    background: black;
    flex: 1;
    content:"";
    height: 02px;
}

/*-------------------
    Video2 
    -----------------*/

.video2 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.video2-greybox {
    position: relative;
    display: grid;
    background-color: var(--col-lightest);
    color: white;
    padding: 45px;
    min-height: 150px;
    height: 25em;
    width: 25em;
    margin-top: -250px ;
    margin-right: -6em;
    z-index: 1;
}

.video2-text {
    margin-left: 50px;
    margin-top: 70px;
    text-align: center;
}

.video2-text h1 {
    position: relative;
    margin-top: -170px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10em;
    color: var(--col-lightest);
    z-index: 1;
    vertical-align: top;
    
}

.video2-text p {
    position: relative;
    z-index: 2;
    margin: 30px;
}


    
/*----------------------
    Bold bunch
    -------------------*/

.bold {
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.bold-og {
    margin-left: -180px;
    vertical-align: text-top;
    margin-top: -100px;
}
.bold-text {
    text-align: center;
    
}

.bold-text-box {
    margin-left: -200px;
}

.bold-text-quote {
    font-size: 10em;
    margin-bottom: -50px;
    margin-top: 20px;
    margin-left: -200;
}

/*----------------------
    guide
    -------------------*/

.guide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 6em;
    box-sizing: border-box;
   }

.guide-grey2box1 {
    position: relative;
    display: grid;
    background-color: var(--col-lightest);
    color: white;
    padding: 45px;
    min-height: 150px;
    height: 25em;
    width: 18em;

}
.guide-grey2box2 {
    position: absolute;
    display: grid;
    background-color: var(--col-dark);
    color: white;
    padding: 45px;
    min-height: 150px;
    height: 25em;
    width: 18em;
    margin-left: 6em;
    margin-top: -4em;

}

.guide-travel {
    display: grid;
    margin-right: -25em;
    margin-top: -8em;

}
.guide-text-travel{

     font-size: 210px;
     text-align: end;
    
}

.guide-guideto {
   display: grid;
}

.guide-greybox {
    display: grid;
    background-color: var(--col-lightest);
    color: white;
    padding: 45px;
    min-height: 200px;
    height: 35em;
    width: 25em;
    margin-left: 12em;
    margin-top: -24em;
    z-index: 1;
}

/*------------------
    bkg
    -------------*/
    .bkg{
        width: 100%;
        height: 180px;
        background-image: url(./bkg.JPG);
        background-position: center;
        background-repeat: repeat;
    }


/*----------------------
    footer
    -------------------*/



.site-footer{
    min-height: 310px;
    background: black;
    margin: 0;
}

.site-footer-content {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    column-gap: 50px;
    

}
.site-footer-contact{
align-self: center;
text-align: center;

}
.site-footer-contact h4{
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 22px;
}
.site-footer-contact p{
    color: white;
}

.nav_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
 
 .nav_list_item {
     display: inline-block;
 }
 
 .nav_list_item_link_footer {
     padding: 10px;
     display: block;
     text-decoration: none;
     color: var(--col-light);
  }
  .nav_list_item_link_footer_home {
    padding: 20px;
    display: block;
    text-decoration: none;
    color: white;
 }
 .copyright-text {
    color: var(--col-light);
    text-align: center;
 }
 .copyright{
  margin-top: 70px;
 }

 .subscribe{
     color: white;
     align-self: center;
     margin-top: 30px;
     }
 .subscribe p{
     color: var(--col-light);
     font-size: 14px;
     margin-top: 30px;
 }


 .sub-form{
     display: inline-block;
     border: 1px solid var(--col-light);
     padding: 10px;
     box-sizing: border-box;
     width: 100%;
    vertical-align: middle;
    margin-top: 30px;
     }

input[type=email]{
    box-sizing: border-box;
    background-color: black;
    border: none;
    width: 90%;
    color: var(--col-lightest);
        
}

/*----------
    Social media buttons
    --------------*/

    
.fa {
    color: var(--col-light);
    padding: 5px;
    font-size: 10px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: solid 1px white;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
    border-color:  #bb0000;
  }























































